body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vjs-text-track-display {
    pointer-events: auto;
}
  
.audio_play_button:hover {
    border: 1px solid #ccc;
    color: #000
}

.vjs-subs .word {
    cursor: pointer;
    border-bottom: 1px dotted #fff
}

.vjs-subs .word:hover {
    color: white;
    background-color: #4285f4 !important;
    text-decoration: none
}